/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.tip.custom-block {
  background-color #f3f5f7
  border-color #9147ff
}

.badge.tip {
  background-color #9147ff !important
  color #fff
}

